<h1>연혁 및 사업분야</h1>

<ul>
    <ul>
        <h2>2022</h2>
        <li>09월 오토하이테크(주) 홈페이지 리뉴얼</li>
        <li>08월 SMIoT 터치패널 출시 예정</li>
        <li>07월 SMIoT 컨트롤러 출시 예정 (ATC-SDB)</li>
        <li>06월 autohitech.kr 도메인 확보</li>
    </ul>
    <ul>
        <h2>2021</h2>
        <li>12월 인공지능(AI)기반 건설 그라우팅시스템 구축</li>
        <li>09월 동파방지 컨트롤러 개발</li>
    </ul>
    <ul>
        <h2>2020</h2>
        <li>10월 컨테이너형 스마트팜 시스템 구축 (엽채류, 과채류, 새싹/인삼, 버섯류)</li>
        <li>05월 Smart Manager 출시 (스마트팩토리 시스템)</li>
        <li>02월 SMIoT Web Server 출시</li>
    </ul>
    <ul>
        <h2>2019</h2>
        <li>09월 SMIoT 컨트롤러 출시 (ATC-SDAE)</li>
        <li>01월 SMIoT 상표등록 (특허청)</li>
    </ul>
    <ul>
        <h2>2018</h2>
        <li>12월 SMIoT 컨트롤러 출시 (ATC-SDA)</li>
    </ul>
    <ul>
        <h2>2017</h2>
        <li>10월 한국원자력연구원 협럭업체 등록</li>
        <li>07월 스마트 IoT 게이트웨이 출시 (ATG-ES11)</li>
    </ul>
    <ul>
        <h2>2016</h2>
        <li>10월 (주)대우조선해양 해저석유시추 모니터링시스템 구축</li>
        <li>03월 스마트 IoT 컨트롤러 출시 (ATC-4422)</li>
    </ul>
    <ul>
        <h2>2015</h2>
        <li>03월 고려제강 태양광발전 모니털이 시스템 구축</li>
    </ul>
    <ul>
        <h2>2014</h2>
        <li>08월 현대자동차 아산공장 전력감시시스템 구축</li>
        <li>05월 온라인 쇼핑몰 개업 (네이버 스마트스토어: 스마트컨트롤러)</li>
    </ul>
    <ul>
        <h2>2013</h2>
        <li>06월 터치패널 (Smart Touch) 출시</li>
    </ul>
    <ul>
        <h2>2012</h2>
        <li>05월 말레이시아 태양광모니터링시스템 구축 (CYPARK)</li>
        <li>03월 (주)도루코 생산관리 시스템 구축 (Oracle DB)</li>
    </ul>
    <ul>
        <h2>2011</h2>
        <li>09월 베트남 오토베이스 교육센터 개설</li>
        <li>07월 LG화학 온산공장 계면활성제 감시제어시스템 구축</li>
    </ul>
    <ul>
        <h2>2010</h2>
        <li>02월 베트남 대표사무소 개설 (호치민)</li>
    </ul>
    <ul>
        <h2>2009</h2>
        <li>07월 법인전환 (오토하이테크 주식회사)</li>
        <li>04월 (주)한국지오텍 기술 파트너쉽 협정체결</li>
    </ul>
    <ul>
        <h2>2007</h2>
        <li>07월 법인전환 (오토하이테크 주식회사)</li>
        <li>04월 (주)한국지오텍 기술 파트너쉽 협정체결</li>
    </ul>
    <ul>
        <h2>2006</h2>
        <li>12월 한국GE플라스틱(주) LPC플라스틱 제조라인 DB시스템 구축</li>
        <li>03월 (주)플래넷아이앤티 전력선 통신 프로토콜 개발</li>
        <li>02월 (주)에스에너지 태양광 모니터링시스템 전속업체 등록</li>
    </ul>
    <ul>
        <h2>2005</h2>
        <li>12월 오토베이스 소프트웨어 대리점 협정체결 (판매, 기술지원, 프로젝트)</li>
        <li>10월 오토베이스 소프트웨어 대리점 협정체결 (판매, 기술지원, 프로젝트)</li>
    </ul>
</ul>